<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocompletado</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Interpretacion Carta Natal</h1>
    <div class="container">
        <!-- Fila 1 -->
        <div class="row">
            <span class="fixed-text">Sol:</span>
            <div class="autocomplete">
                <input type="text" id="autocomplete-input-1" placeholder="Ingresa El Signo..." autocomplete="off">
                <ul id="autocomplete-results-1" class="autocomplete-results"></ul>
            </div>
        </div>
        <!-- Fila 2 -->
        <div class="row">
            <span class="fixed-text">Luna:</span>
            <div class="autocomplete">
                <input type="text" id="autocomplete-input-2" placeholder="Ingresa El Signo..." autocomplete="off">
                <ul id="autocomplete-results-2" class="autocomplete-results"></ul>
            </div>
        </div>
        <!-- Fila 3 -->
        <div class="row">
            <span class="fixed-text">Ascendente:</span>
            <div class="autocomplete">
                <input type="text" id="autocomplete-input-3" placeholder="Ingresa El Signo..." autocomplete="off">
                <ul id="autocomplete-results-3" class="autocomplete-results"></ul>
            </div>
        </div>
        <!-- Fila 4 -->
        <div class="row">
          <span class="fixed-text">Mercurio:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-4" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-4" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 5 -->
        <div class="row">
          <span class="fixed-text">Venus:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-5" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-5" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 6 -->
        <div class="row">
          <span class="fixed-text">Marte:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-6" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-6" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 7 -->
        <div class="row">
          <span class="fixed-text">Jupiter:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-7" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-7" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 8 -->
        <div class="row">
          <span class="fixed-text">Saturno:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-8" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-8" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 9 -->
        <div class="row">
          <span class="fixed-text">Urano:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-9" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-9" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 10 -->
        <div class="row">
          <span class="fixed-text">Neptuno:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-10" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-10" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 11 -->
        <div class="row">
          <span class="fixed-text">Pluton:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-11" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-11" class="autocomplete-results"></ul>
          </div>
      </div>
        <!-- Fila 12 -->
        <div class="row">
          <span class="fixed-text">Quiron:</span>
          <div class="autocomplete">
              <input type="text" id="autocomplete-input-12" placeholder="Ingresa El Signo..." autocomplete="off">
              <ul id="autocomplete-results-12" class="autocomplete-results"></ul>
          </div>
      </div>
    </div>
    <div class="button">
      <!-- Boton Interpretar -->
      <button class="fill">Interpretar</button>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
